{% extends "b_layout.html" %}

{% block main %}

 <div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col">
			<div id="mainFrame">

<div>Соболевский Вадим <b>7698</b></div>
<div>Семеник Александр <b>cd88</b></div>
<div>Стадник Тарас <b>97fc</b></div>
<div>Огородник Богдан <b>151b</b></div>
<div>Кулиш Вероника <b>5140</b></div>
<div>Шерешков Сергей <b>6907</b></div>
<div>Надеева Ольга <b>96b0</b></div>
<div>Чайковский Денис <b>855a</b></div>
<div>Ильченко Евгений <b>d945</b></div>
<div>Майстренко Виталий <b>2c8d</b></div>
<div>Бобровский Михаил <b>8e3a</b></div>
<div>Скачков Сергей <b>f190</b></div>
<div>Палий Лилия <b>e057</b></div>
<div>Котеленець Валерия <b>c0ac</b></div>
<div>Дресвянина Лариса <b>3346</b></div>
<div>Степаненко Евгений <b>b5b6</b></div>
<div>Шаля Екатерина <b>6316</b></div>
<div>Савельев Дмитрий <b>e744</b></div>
<div>Шелест Анжела <b>4b9f</b></div>
<div>Ворона Наталья <b>682b</b></div>
<div>Кожевник Игорь <b>0551</b></div>
<div>Синельник Владислав <b>83ab</b></div>
<div>Дурицкий Антон <b>efef</b></div>
<div>Дорошенко Юрий <b>9b60</b></div>
<div>Сытник Анна <b>287d</b></div>
<div>Рекеда Вадим <b>ed6f</b></div>
<div>Мельник Александр <b>865d</b></div>
<div>Шалупин Иван <b>0716</b></div>
<div>Ярошенко Инна <b>8aa9</b></div>
<div>Мотовиловец Екатерина <b>69a1</b></div>
<div>Брилева Ирина <b>9a6e</b></div>
<div>Ровенко Данил <b>e081</b></div>
<div>Гулинский Владимир <b>c25c</b></div>
<div>Твердохлеб Ирина <b>c71f</b></div>
<div>Нычипоренко Юрий <b>4965</b></div>
<div>Мариенко Виталик <b>6021</b></div>
<div>Чигрин Сергей <b>f3e1</b></div>
<div>Галич Анна <b>94f6</b></div>
<div>Сергиенко Татьяна <b>92f1</b></div>
			
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>


{% endblock %}