{% extends "b_layout.html" %}

{% macro mainFrame() -%}
<div class="modal fade " id="Dialog" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
			<form class="form" action="/bus/password" method="post">
				<div class="d-flex m-1 mb-2">
					<input class="form-control mr-2" name="old_password" placeholder="старый пароль" type="password" id="old_password">
					<div class="ml-auto" onclick="show('#old_password')">&#128065;</div>
				</div>
				<div class="d-flex m-1 mb-2">
					<input class="form-control mr-2" name="new_password" placeholder="новый пароль" type="password" id="new_password">
					<div class="ml-auto" onclick="show('#new_password')">&#128065;</div>
				</div>
				<div class="d-flex m-1">
					<button class="btn btn-danger ml-auto" type="submit">изменить</button>
				</div>
			</form>
			</div>
		</div>
	</div>
</div>

{%- endmacro %}

{% block main %}

<style type="text/css">
			  html {
			   position: relative;
			   height: 100%;
			}

			body {
				height: 100%;
			}

			.form-control:focus {
			  border-color: #FF0000;
			  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
			}
		</style>

 <div class="container">
	<div class="row">
		<div class="col-1"></div>
		<div class="col">
			<div id="mainFrame">{{mainFrame()}}</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>

<script> 
	$('#Dialog').modal()
	$('#Dialog').on('shown.bs.modal', function () {
		$('#old_password').focus();
	});  
	
	function show(id){
		$(id).attr("type", "text");
	};
	
	
</script> 

{% endblock %}